{
    "categories": {
        "general": "Category:Co-op mentors with general editing skills",
        "optout": "Category:Co-op mentor not taking new requests",
        "skillslist": [
            "best practices",
            "communication",
            "writing",
            "general editing skills",
            "technical editing",
            "images and media"
        ],
        "requestcategories": [
            "Category:Co-op/Requests/Best practices",
            "Category:Co-op/Requests/Communication",
            "Category:Co-op/Requests/Writing",
            "Category:Co-op/Requests/Other",
            "Category:Co-op/Requests/Technical editing",
            "Category:Co-op/Requests/Images and media"
        ],
        "mentorcategories": [
            "Category:Co-op mentors with best practice skills",
            "Category:Co-op mentors with communication skills",
            "Category:Co-op mentors with writing skills",
            "Category:Co-op mentors with general editing skills",
            "Category:Co-op mentors with technical editing skills",
            "Category:Co-op mentors with multimedia skills"
        ]
    },
    "dbinfo": {
        "dbname": "DATABASENAME",
        "host": "DATABASEHOST",
        "username": "DATABASEUSERNAME",
        "password": "DATABASEPASSWORD"
    },
    "defaultmentorprofile": "Wikipedia:Co-op/DEFAULT",
    "greetings": {
        "matchgreeting": "Thank you for your interest in the Co-op. [[User:{0}|{0}]] has listed \"{1}\" in their mentorship profile. Leave them a message on their talk page and see if you want to work together!",
        "matchtopic": "Welcome to the Co-op! We have a mentor for you.",
        "noflowtemplate": "\n\n=={0}==\nHello, [[User:{1}|{1}]]! {2} ~~~~",
        "nomatchgreeting": "Sorry, we don't have a match for you. [[User:{0}|{0}]] will be in touch with you to find you one.",
        "nomatchtopic": "Welcome to the Co-op!"
    },
    "login": {
        "password": "YOURBOTPASSWORD",
        "protocol": "https",
        "site": "test.wikipedia.org",
        "useragent": "MatchBot, based on mwclient v0.7.2dev. Run by User:YOURNAME, YOUREMAIL",
        "username": "YOURBOTNAME"
    },
    "pages": {
        "main": "Wikipedia:Co-op",
        "talk": "Wikipedia talk:Co-op"
    },
    "help": "Please see README.md for information on this configuration file."
}
